<!DOCTYPE html>
<html>
<head>
	<title>
		Friends
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #e8eaed;">
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4f76a1; padding-left:225px; padding-right: 225px; padding-top: 0px; padding-bottom: 0px;">
	  <a class="navbar-brand" href="index.html" style="font-size: 24px; font-weight: bold; margin-right: 132px;">VK</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="&#128269; Поиск" aria-label="Поиск" style="height: 30px; background-color: #324766;border: 0px; border-radius: 15px;">
	    </form>
	  </div>
	</nav>
	<div class="container mt-4" style="min-height: 1000px;">
		<div class="row">
			<div class="col-2">
				<div class="btn-group-vertical" aria-label="Basic example">
				  <a href = "sp task 2 flex.html" class="btn btn-secondary" style="color:#324766; background-color:#e8eaed;border: 0px; text-align: left;"> Моя страница</a>
				  <a href="feed.html" class="btn btn-secondary" style="color:#324766; background-color:#e8eaed;border: 0px; text-align: left;"> Новости</a>
				  <a href="messages.html" class="btn btn-secondary" style="color:#324766; background-color:#e8eaed;border: 0px; text-align: left;"> Сообщения</a>
				  <a href="friends.html" class="btn btn-secondary" style="color:#324766; background-color:#e8eaed;border: 0px; text-align: left;"> Друзья</a>
				  <a href="groups.html" class="btn btn-secondary" style="color:#324766; background-color:#e8eaed;border: 0px; text-align: left;"> Группы </a>
				  <a href="photos.html" class="btn btn-secondary" style="color:#324766; background-color:#e8eaed;border: 0px; text-align: left;"> Фотографии </a>
				  <a href="musics.html" class="btn btn-secondary" style="color:#324766; background-color:#e8eaed;border: 0px; text-align: left;"> Музыка </a>
				  <a href="videos.html" class="btn btn-secondary" style="color:#324766; background-color:#e8eaed;border: 0px; text-align: left;">Видео</a>
				</div>
			</div>
			
			<div class="col-7">
				<div class="row pr-3">
					<div class="col-12 bg-white pb-3" style="border-radius: 5px; ">
						<div class="row">
							<div class="col-12" style="background-color: #fafaff; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom: 1px solid lightgrey; padding-top:12px; padding-bottom: 10px; padding-left: 20px; font-family: sans-serif; ">
								<span style="font-size: 14px;">Все друзья </span>&nbsp;<span style="color:#73777d; font-size: 13px;">1 311</span>
								<span style="font-size: 14px; margin-left: 20px;">Друзья онлайн </span>&nbsp;<span style="color:#73777d; font-size: 13px;">54</span>
								<button class="btn btn-primary btn-sm" style="background-color: #4f76a1; font-size: 13px; padding-left:20px; padding-right:20px; float: right; border: 0px;"> Найти друзей </button>
							</div>
						</div>
						<div class="row">
							<div class="col-12" style="padding-right: 0px; display: flex; border-bottom:1px solid lightgrey; ">
								<span style="padding-top: 10px; margin-right: 10px;">&#128269;</span>
								<input type="text" style="width: 100%; border: 0px; height: 45px;" placeholder="Начните вводить имя друга">
							</div>
						</div>
						<div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom:1px solid lightgrey;">
							<div class="col-2">
								<img src="https://vk.com/images/camera_100.png?ava=1" style="border-radius: 40px;" width="80px;">
							</div>
							<div class="col-10" style="padding-left: 0px;">
								<span><a href = "#" style="color:#4f76a1; font-weight: bold; font-size: 14px;">Елдар Хасен</a></span>
								<span style="color:#9797f0; font-size: 30px; float: right; margin-top: -20px;">...</span>
								<br>
								<span style="color:#73777d; font-size: 14px;">МУИТ(IITU)</span>
								<br>
								<a href="#" style="color: #4f76a1; font-size: 14px;">Написать сообщение</a>
							</div>
						</div>
						<div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom:1px solid lightgrey;">
							<div class="col-2">
								<img src="https://pp.userapi.com/c851220/v851220298/1882eb/kLEhlYUGEgA.jpg?ava=1" style="border-radius: 40px;" width="80px;">
							</div>
							<div class="col-10" style="padding-left: 0px;">
								<span><a href = "#" style="color:#4f76a1; font-weight: bold; font-size: 14px;">Анель Мухамеджанова</a></span>
								<span style="color:#9797f0; font-size: 30px; float: right; margin-top: -20px;">...</span>
								<br>
								<span style="color:#73777d; font-size: 14px;">МУИТ(IITU)</span>
								<br>
								<a href="#" style="color: #4f76a1; font-size: 14px;">Написать сообщение</a>
							</div>
						</div>
						<div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom:1px solid lightgrey;">
							<div class="col-2">
								<img src="https://vk.com/images/camera_100.png?ava=1" style="border-radius: 40px;" width="80px;">
							</div>
							<div class="col-10" style="padding-left: 0px;">
								<span><a href = "#" style="color:#4f76a1; font-weight: bold; font-size: 14px;">Азиза Камет</a></span>
								<span style="color:#9797f0; font-size: 30px; float: right; margin-top: -20px;">...</span>
								<br>
								<a href="#" style="color: #4f76a1; font-size: 14px;">Написать сообщение</a>
							</div>
						</div>
						<div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom:1px solid lightgrey;">
							<div class="col-2">
								<img src="https://pp.userapi.com/c849136/v849136383/d7e2e/qHthdZ-9DnE.jpg?ava=1" style="border-radius: 40px;" width="80px;">
							</div>
							<div class="col-10" style="padding-left: 0px;">
								<span><a href = "#" style="color:#4f76a1; font-weight: bold; font-size: 14px;">Асылхан Алданазар</a></span>
								<span style="color:#9797f0; font-size: 30px; float: right; margin-top: -20px;">...</span>
								<br>
								<span style="color:#73777d; font-size: 14px;">МУИТ (IITU)</span>
								<br>
								<a href="#" style="color: #4f76a1; font-size: 14px;">Написать сообщение</a>
							</div>
						</div>
						<div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom:1px solid lightgrey;">
							<div class="col-2">
								<img src="https://pp.userapi.com/c840323/v840323748/7dae8/geynLm2NAVg.jpg?ava=1" style="border-radius: 40px;" width="80px;">
							</div>
							<div class="col-10" style="padding-left: 0px;">
								<span><a href = "#" style="color:#4f76a1; font-weight: bold; font-size: 14px;">Алибек Амангельдиев</a></span>
								<span style="color:#9797f0; font-size: 30px; float: right; margin-top: -20px;">...</span>
								<br>
								<span style="color:#73777d; font-size: 14px;">МУИТ (IITU)</span>
								<br>
								<a href="#" style="color: #4f76a1; font-size: 14px;">Написать сообщение</a>
							</div>
						</div>
						<div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom:1px solid lightgrey;">
							<div class="col-2">
								<img src="https://pp.userapi.com/c848520/v848520813/b03a1/VdEonffuq3c.jpg?ava=1" style="border-radius: 40px;" width="80px;">
							</div>
							<div class="col-10" style="padding-left: 0px;">
								<span><a href = "#" style="color:#4f76a1; font-weight: bold; font-size: 14px;">Azamat Tolegenov</a></span>
								<span style="color:#9797f0; font-size: 30px; float: right; margin-top: -20px;">...</span>
								<br>
								<span style="color:#73777d; font-size: 14px;">IOLAB | Развивайся с нами!</span>
								<br>
								<a href="#" style="color: #4f76a1; font-size: 14px;">Написать сообщение</a>
							</div>
						</div>
						<div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom:1px solid lightgrey;">
							<div class="col-2">
								<img src="https://pp.userapi.com/c830709/v830709761/8d885/zA1JzfaP7gY.jpg?ava=1" style="border-radius: 40px;" width="80px;">
							</div>
							<div class="col-10" style="padding-left: 0px;">
								<span><a href = "#" style="color:#4f76a1; font-weight: bold; font-size: 14px;">Тимур Киязов</a></span>
								<span style="color:#9797f0; font-size: 30px; float: right; margin-top: -20px;">...</span>
								<br>
								<span style="color:#73777d; font-size: 14px;">SDU(Suleyman Demirel University, СДУ)</span>
								<br>
								<a href="#" style="color: #4f76a1; font-size: 14px;">Написать сообщение</a>
							</div>
						</div>
					</div>				
				</div>
			</div>

			<div class="col-3">
				<div class="row">
					<div class="col-12 bg-white pt-3 pb-3" style="border-radius: 5px; padding-left: 0px; padding-right: 0px;">
						<div class="btn-group-vertical" role="group" aria-label="Basic example" style="width: 100%; margin-top: -5px;">
						  <button type="button" class="btn btn-secondary" style="text-align: left; color: black; background-color: #ededfc;border:0px; font-weight: bold; font-size: 15px; border-radius: 0px; padding-top: 10px; padding-bottom: 10px;">Мои друзья &#9663;	</button>
						  <button type="button" class="btn btn-secondary" style="text-align: left; color:#324766; background-color: white;border:0px; font-size: 14px; border-radius: 0px; padding-top: 10px; padding-bottom: 10px;">Заявки в друзья</button>
						  <button type="button" class="btn btn-secondary" style="text-align: left; color:#324766; background-color: white;border:0px; font-size: 14px; border-radius: 0px; padding-top: 10px; padding-bottom: 10px;">Телефонная книга</button>
						  <button type="button" class="btn btn-secondary" style="text-align: left; color:#324766; background-color: white;border:0px; font-size: 14px; border-radius: 0px; padding-top: 10px; padding-bottom: 10px;">Новые друзья</button>
						  <button type="button" class="btn btn-secondary" style="text-align: left; color:#324766; background-color: white;border:0px; font-size: 14px; border-radius: 0px; padding-top: 10px; padding-bottom: 10px; ">Поиск друзей</button>
						  <button type="button" class="btn btn-secondary" style="text-align: left; color:#324766; background-color: white; border:0px; font-size: 14px; border-radius: 0px; padding-top: 10px; padding-bottom: 10px; border-bottom: ">Списки друзей
						  </button>
						</div>
					</div>
				</div>
				<div class = "row">
					<div class="col-12 bg-white pt-3 pb-3 mt-3" style="border-radius: 5px;">
						<p><span style="font-size: 14px;">Возможные друзья</span></p>
						<div class="row">
							<div class="col-3">
								<img src="https://pp.userapi.com/c855236/v855236065/7f612/iseQtxsqiP8.jpg?ava=1" style="border-radius: 30px; margin: auto; margin-top:10px;" width="60px">
								<br>
							</div>
							<div class="col-9">
								<span style="font-size: 14px; color: #324766;">Баглан Абдрасил</span>	
								<br>
								<span style="color:grey; font-size: 14px;">23 общих друга</span>
								<br>
								<span style="font-size: 12px; color: #324766;">+ Добавить в друзья</span>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-3">
								<img src="https://pp.userapi.com/c847216/v847216906/18dd2e/g_EP1UDASFk.jpg?ava=1" style="border-radius: 30px; margin: auto; margin-top:10px;" width="60px">
								<br>
							</div>
							<div class="col-9">
								<span style="font-size: 14px; color: #324766;">Ерасыл Жанатов</span>	
								<br>
								<span style="color:grey; font-size: 14px;">12 общих друга</span>
								<br>
								<span style="font-size: 12px; color: #324766;">+ Добавить в друзья</span>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-3">
								<img src="https://pp.userapi.com/PJFTMMfEp9HxkC0-bs2WoP5SGEICxXYCyBbiSQ/gqlVxROpO3c.jpg?ava=1" style="border-radius: 30px; margin: auto; margin-top:10px;" width="60px">
								<br>
							</div>
							<div class="col-9">
								<span style="font-size: 14px; color: #324766;">Azamat Nurshatayev</span>	
								<br>
								<span style="color:grey; font-size: 14px;">56 общих друга</span>
								<br>
								<span style="font-size: 12px; color: #324766;">+ Добавить в друзья</span>
							</div>
						</div>	

						<div class="row" style="margin-top: 10px;">
							<div class="col-3">
								<img src="https://pp.userapi.com/_i9ZgJQaTNw8CXUuVdpMvS8JWuJVK6sQoA7NlQ/v_eP3l7NORA.jpg?ava=1" style="border-radius: 30px; margin: auto; margin-top:10px;" width="60px">
								<br>
							</div>
							<div class="col-9">
								<span style="font-size: 14px; color: #324766;">Есенжан Гильманов</span>	
								<br>
								<span style="color:grey; font-size: 14px;">44 общих друга</span>
								<br>
								<span style="font-size: 12px; color: #324766;">+ Добавить в друзья</span>
							</div>
						</div>	
						<div class="row" style="margin-top: 10px;">
							<div class="col-3">
								<img src="https://pp.userapi.com/c847218/v847218165/3df24/Iwau2KkljT0.jpg?ava=1" style="border-radius: 30px; margin: auto; margin-top:10px;" width="60px">
								<br>
							</div>
							<div class="col-9">
								<span style="font-size: 14px; color: #324766;">Дильшат Еркинов</span>	
								<br>
								<span style="color:grey; font-size: 14px;">34 общих друга</span>
								<br>
								<span style="font-size: 12px; color: #324766;">+ Добавить в друзья</span>
							</div>
						</div>	

					</div>	
				</div>				
			</div>

		</div>
	</div>
</body>
</html>
